@page "/cb"
<h3 style='@(MyProperty?"text-decoration:line-through":"")'>Checkbox</h3>
@if (MyProperty)
{
   <h2>bin ein checker!</h2>
}
else
{
    <p>Lorem ipusmmm</p>
}

<input type="checkbox" @bind="MyProperty"/>



<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox"  @bind="MyProperty">
</div>
@code {
    public bool MyProperty { get; set; }
}
