@page
@model BlazorTraining22.Pages.modul05.formularModel
@{
}
<form method="Post">
<input type="datetime-local" name="eins"><br />
<input type="number" name="zwei"/><br />
<input type="range" min="100" max="200" name="drei"/><br />
<input type="text" required name ="vier"/><br />
<input type="submit" value="dings"/>
</form>