Beschriftung: <input @bind="Anzahl1" />
<button @onclick="save">save</button>
@code {
    
    public string Anzahl1 { get=>anzahl ; 
        set {
            anzahl = value;
            AnzahlChanged.InvokeAsync(value); } }
    string anzahl;

    [Parameter]
    public string Anzahl { get; set; }
    [Parameter]
    public EventCallback<string> AnzahlChanged { get; set; }

    void save()
    {
        Anzahl = Anzahl1;
    }
}
