@page "/navman"
@inject NavigationManager nm
@using Microsoft.AspNetCore.WebUtilities
<h3>NavMan</h3>
<a href="/navman?data=10">10</a>
<a href="/navman?data=20">20</a>
<a href="/navman?data=30">30</a>

@data
@code {
    int data = 0;
    protected override void OnInitialized() => nm.LocationChanged += LocationChanged;
    void LocationChanged(object sender, LocationChangedEventArgs e)
    {
        var uri = nm.ToAbsoluteUri(nm.Uri);
        QueryHelpers.ParseQuery(uri.Query).TryGetValue("data", out var _data);
        data = Convert.ToInt32(_data);
        StateHasChanged();
    }
}
